.skeleton{
    animation: skeleton-loading 2s linear infinite alternate;
}
@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 9%, 13%);
    }
    100%{
        background-color: hsl(210, 7%, 71%);
    }
}

.card{
    margin:0px;
    width: 400px;
    height: max-content;
    border-radius: "360px";
    background-color: white;
}
.image{
    border-radius: 20px;
    width:95%;
    margin: 15px;
    background-color:"black";
    height: 50px;;
}